:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

main {
  flex-grow: 1;

  background: linear-gradient(
    to right bottom,
    #a87d4b 25%,
    #8c5a38 50%,
    #6f3f28 75%,
    #5a2d1b 100%
  );
}
main:has(.back-link) {
  text-align: center;
}
